<div class="container1">
  <h1>Consumer</h1>
  <h3>All Bill Reports By Month</h3>
  <form
    [formGroup]="consumerForm"
    (ngSubmit)="onSubmit(consumerForm.value)"
    method="get"
    [class.hidden]="isHidden"
  >
    <div class="container2">
      <hr />
      <label for="consumerId">Consumer ID </label>
      <input
        type="text"
        id="consumerId"
        name="consumerId"
        formControlName="consumerId"
        placeholder="Enter Consumer ID"
      />
      <span
        style="color: red"
        *ngIf="getConsumerId && getConsumerId.invalid && getConsumerId.touched"
        >Consumer ID Required!!</span
      >
      <br />
      <label for="month"> Month </label>

      <select
        class="selectDiv"
        name="month"
        id="month"
        formControlName="month"
        aria-placeholder="Select Month"
      >
        <option value="">Select Month</option>
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
      </select>

      <span
        style="color: red"
        *ngIf="getMonth && getMonth.invalid && getMonth.touched"
        >Month Required!!
      </span>
      <p>
        <label for="year">Year </label>
        <input
          type="year"
          id="year"
          name="year"
          formControlName="year"
          placeholder="Enter Year"
        />
        <span
          style="color: red"
          *ngIf="getYear && getYear.invalid && getYear.touched"
          >Year Required!!
        </span>
      </p>

      <div>
        <button [disabled]="consumerForm.invalid" type="submit" class="submit">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>

<div class="result" [class.hidden]="!isHidden">
  <div *ngIf="checkBillsStatus(); else noResultBlock">
    <div class="container">
      <h2>{{ month }} {{ year }} Bill</h2>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr class="table-dark">
            <th scope="col">billId</th>
            <th scope="col">Consumer ID</th>
            <th scope="col">Consumer Name</th>
            <th scope="col">Area</th>
            <th scope="col">City</th>
            <th scope="col">Connection Type</th>
            <th scope="col">month</th>
            <th scope="col">year</th>
            <th scope="col">Units Consumed</th>
            <th scope="col">Total Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of Bills" class="table-info">
            <td>{{ bill.billId }}</td>
            <td>{{ bill.consumerId.consumerId }}</td>
            <td>{{ bill.consumerId.consumerName }}</td>
            <td>{{ bill.consumerId.area }}</td>
            <td>{{ bill.consumerId.city }}</td>
            <td>{{ bill.consumerId.connectionType }}</td>
            <td>{{ bill.month }}</td>
            <td>{{ bill.year }}</td>
            <td>{{ bill.unitsConsumed }}</td>
            <td>{{ bill.totalAmount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noResultBlock
    ><h2>{{ errorMsg }}</h2></ng-template
  >
  <div class="wrap">
    <button (click)="onBack()" class="back-button">Back</button>
  </div>
</div>
