<div class="container1">
  <h1>Admin</h1>
  <h3>Get All Bill By City Reports</h3>
  <form
    [formGroup]="userForm"
    (ngSubmit)="onSubmit(userForm.value)"
    method="get"
    [class.hidden]="isHidden"
  >
    <div class="container2">
      <hr />
      <label for="username">Username </label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
        placeholder="Enter admin username"
      />
      <span
        style="color: red"
        *ngIf="getUserName && getUserName.invalid && getUserName.touched"
        >Username Required!!</span
      >
      <label for="password">Password </label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        placeholder="Enter admin password"
      />
      <span
        style="color: red"
        *ngIf="getPassword && getPassword.invalid && getPassword.touched"
        >Password Required!!
      </span>
      <label for="city">City </label>
      <input
        type="text"
        id="city"
        name="city"
        formControlName="city"
        placeholder="Enter City"
      />
      <span
        style="color: red"
        *ngIf="getCity && getCity.invalid && getCity.touched"
        >City Required!!</span
      >
      <div>
        <button [disabled]="userForm.invalid" type="submit" class="submit">
          Submit
        </button>
      </div>
      <hr />
    </div>
  </form>
</div>

<div class="result" [class.hidden]="!isHidden">
  <div *ngIf="checkBillsStatus(); else noResultBlock">
    <div class="container">
      <h2>{{ city }} Bill</h2>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr class="table-dark">
            <th scope="col">billId</th>
            <th scope="col">Consumer ID</th>
            <th scope="col">Consumer Name</th>
            <th scope="col">Area</th>
            <th scope="col">City</th>
            <th scope="col">Connection Type</th>
            <th scope="col">month</th>
            <th scope="col">year</th>
            <th scope="col">Units Consumed</th>
            <th scope="col">Total Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of Bills" class="table-info">
            <td>{{ bill.billId }}</td>
            <td>{{ bill.consumerId.consumerId }}</td>
            <td>{{ bill.consumerId.consumerName }}</td>
            <td>{{ bill.consumerId.area }}</td>
            <td>{{ bill.consumerId.city }}</td>
            <td>{{ bill.consumerId.connectionType }}</td>
            <td>{{ bill.month }}</td>
            <td>{{ bill.year }}</td>
            <td>{{ bill.unitsConsumed }}</td>
            <td>{{ bill.totalAmount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noResultBlock
    ><h2>{{ errorMsg }}</h2></ng-template
  >
  <div class="wrap">
    <button (click)="onBack()" class="back-button">Back</button>
  </div>
</div>
