<!-- <div class="container">
  <h1>
    <img src="../assets/bill.png" alt="bill-img" class="bill-logo" /> Welcome to
    Electricity Bill Generator
  </h1>
  <h3>Choose your role</h3>
  <div class="role-choose">
    <a routerLink="/admin-dashboard"><h4>Admin</h4></a>
    <a routerLink="/consumer-dashboard"><h4>Consumer</h4></a>
  </div>
</div>
<router-outlet></router-outlet> -->
<div class="container">
  <h1>
    <img src="../assets/bill.png" alt="bill-img" class="bill-logo" /> Welcome to
    Electricity Bill Generator
  </h1>
  <h2>Choose your role <i class="arrow right"></i></h2>
  <!-- <h3>Choose your role</h3> -->
  <div class="role-choose">
    <!-- <a routerLink="/admin-dashboard"><h4>Admin</h4></a>
    <a routerLink="/consumer-dashboard"><h4>Consumer</h4></a> -->
    <a routerLink="/admin-dashboard" class="animated-button1">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <h4 style="color: #28527a; width: 166px">Admin</h4></a
    >
    <a routerLink="/consumer-dashboard" class="animated-button1">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <h4 style="color: #28527a">Consumer</h4></a
    >
  </div>
</div>
<router-outlet></router-outlet>
