/* .container {
  width: 61%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}
.container h1,
h3 {
  text-align: center;
}

.container h1 {
  margin-bottom: 30px;
}

.bill-logo {
  width: 60px;
  height: auto;
}

.container h3 {
  margin-top: 20px;
  color: #0f4736;
  background-color: #b0f7f2;
  display: inline;
  padding: 5px 10px;
  border-radius: 12px;
}

.role-choose {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.role-choose a {
  background-color: #7cbdec;
  text-decoration: none;
  padding: 5px 10px;
  color: #13054d;
  border-radius: 12px;
} */
.container {
  width: 61%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}
.container h1,
h3 {
  text-align: center;
}

.container h1 {
  margin-bottom: 30px;
}

.bill-logo {
  width: 60px;
  height: auto;
}

.container h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0f4736;
  /* background-color: #b0f7f2; */
  background-color: #b3e5e0;
  display: inline;
  padding: 7px 12px;
  border-radius: 12px;
  font-size: large;
  font-weight: bold;
}

.role-choose {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.role-choose a {
  /* background-color: #7cbdec; */
  text-decoration: none;
  padding: 5px 10px;
  color: #13054d;
  border-radius: 12px;
}

/* buttons arrow */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Animation Button */
.animated-button1 {
  /* background: linear-gradient(-30deg, #ABD9FF 50%, #ABD9FF 50%); */
  padding: 20px 40px;
  margin: 12px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  /* color: white; */
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.animated-button1:hover::before {
  opacity: 0.2;
}

.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(43, 8, 8, 0)),
    to(#d92626)
  );
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(43, 8, 8, 0)),
    to(#d92626)
  );
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(43, 8, 8, 0)),
    to(#d92626)
  );
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(43, 8, 8, 0)),
    to(#d92626)
  );
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
