.hidden {
  display: none;
}

.container1 {
  font-family: Arial, Helvetica, sans-serif;
}
.container1 h1,
h3 {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container2 {
  background-color: white;
  margin: auto;
  width: 50%;
  border: 3px solid #28527a;
  padding: 16px;
}

input[type="text"],
input[type="year"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;

  border: none;
  background: #f1f1f1;
}

hr {
  border: 1px solid #fbeeac;
  margin-bottom: 25px;
}

.submit {
  background-color: #28527a;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.result {
  text-align: center;
}
label {
  color: #b4886b;
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
  font-size: large;
}
label:after {
  content: ": ";
}
.wrap {
  margin-top: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button {
  min-width: 200px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.back-button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(200px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.back-button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.back-button:hover::before,
button:focus::before {
  opacity: 1;
}

.back-button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.back-button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
